# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
python-selenium-venv/

# Pytest
.pytest_cache/

# Reports
reports/
allure-results/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
